<footer class="site-footer">
    <div class="shell footer-grid">

        <div class="footer-club">
            <img src="assets/club-logo.png" alt="" />

            <div>
                <strong>Studentischer Entomologie-Club Zürich</strong>
                <span>c/o Universität Zürich · Winterthurerstrasse 190 · 8057 Zürich</span>
                <a href="mailto:info@steczh.ch">
                    info@steczh.ch
                </a>
            </div>
        </div>


        <div class="footer-social">
            <strong>Folge uns</strong>

            <div class="social-links">

                <a
                    href="https://www.instagram.com/steczh/"
                    aria-label="Instagram"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="assets/icons/instagram.svg"
                        alt=""
                    >
                </a>

                <a
                    href="https://www.linkedin.com/company/studentischer-entomologie-club-z%C3%BCrich/about/"
                    aria-label="LinkedIn"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="assets/icons/linkedin.svg"
                        alt=""
                    >
                </a>

                <a
                    href="https://www.inaturalist.org/..."
                    aria-label="iNaturalist"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="assets/icons/inaturalist.svg"
                        alt=""
                    >
                </a>

            </div>
        </div>


        <div class="footer-legal">

            <div>
                <a href="kontakt.html#impressum">
                    Impressum
                </a>

                <span>·</span>

                <a href="kontakt.html#datenschutz">
                    Datenschutz
                </a>
            </div>

            <span>
                © <span id="year"></span>
                Studentischer Entomologie-Club Zürich
            </span>

        </div>

    </div>
</footer>
